<%= form_with model: @task, local: true do |form| %>
<p>
  <%= form.label :タスク名 %><br>
  <%= form.text_field :title %>
</p>
<p>
  <%= form.label :タスクメモ %><br>
  <%= form.text_area :memo %>
</p>
<p>
  <%= form.label :status %>
  <%= form.select :integer, [["下書き(draft)", "0"], ["公開(published)", "1"], ["アーカイブ(archived)", "2" ]] %>
</p>


<%= form.submit %><br>
<% end %>
<%= link_to '一覧', tasks_path %>